/* General */
body {
    background-color: rgb(201, 201, 197);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* HTML Elements */
header {
    margin-top: 2%;
    margin-bottom: 2%;
    text-align: center;
    background-color:rgb(137, 232, 148);
}

header, footer {
    width: 100%;
    background-color:rgb(137, 232, 148);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

header h1, header h2, footer {
    font-family: Pacifico;
}

header h1 {
    padding-top: 1rem;
    font-size: 3.5rem;
}

header h2 {
    padding-bottom: 1rem;
    font-size: 2rem;
}

main {
    width: 100%;
}

main h1, main th, table caption {
    font-family: Raleway;
}

main h1 {
    padding-top: 10px;
    text-align: center;
    font-size: 2rem;
}

main table {
    overflow-x: auto;
    margin: auto auto 2rem auto;
    width: 90%;
}

main tbody tr:first-of-type {
    background-color:rgb(201, 201, 197);;
}

main th, td {
    height: 2rem;
    vertical-align: middle;
    width: 25%;
}

main th {
    font-size: 1.25rem;
}

main td {
    text-align: center;
    font-family: 'Share Tech Mono';
}

table caption {
    padding-bottom: 1rem;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    margin-bottom: 2%;
    height: 3rem;
    font-size: 1.25rem;
}

/* Classes */
.void {
    font-family: Raleway;
    font-weight: bold;
}

.rating {
    background-color:rgb(137, 232, 148);
}

.selection {
    height: 2rem;
    width: 45%;
    font-family: Raleway;
    font-size: 1.25rem;
    background-color:rgb(137, 232, 148);
    border: none;
}

.selection:first-of-type {
    margin-right: 2.5%;
}

.selection:last-of-type {
    margin-left: 2.5%;
}

/* IDs */
#container {
    margin-top: 3rem;
    margin-left: auto;
    margin-right: auto;
    width: 33%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#buttons {
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    text-align: center;
}

/* Responsiveness */
@media screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px) {
    /* HTML elements */
    header {
        margin-top: 3rem;
    }

    table, caption, thead, tbody, th, td, tr {
        display: block;
    }

    thead tr {
		position: absolute;
		top: -9999px;
		left: -9999px;
	}

    td { 
        width: 50%;
		border: none;
		position: relative;
		padding-left: 50%; 
	}

    td p {
        position: absolute;
        top: 6px;
        padding-right: 6px;
        width: 45%;
        font-size: 1.25rem;
    }
	
	td:before { 
		position: absolute;
        top:6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
        font-weight: bold;
        font-size: 1.25rem;
        font-family: Raleway;
	}

    tr:first-of-type td { background-color: white; }
    tr:first-of-type td:nth-of-type(1):before { content: "Temperature"; }
	tr:first-of-type td:nth-of-type(2):before { content: "Humidity"; }
	tr:first-of-type td:nth-of-type(3):before { content: "CO Level"; }
	tr:first-of-type td:nth-of-type(4):before { content: "PM Level"; } 

    tr:nth-of-type(2) { margin-top: 1rem; }
    tr:nth-of-type(2) td:nth-of-type(3):before { content: "CO Rating"; }
    tr:nth-of-type(2) td:nth-of-type(4):before { content: "PM Rating"; }

    footer {
        margin-bottom: 3rem;
    }

    /* Classes */
    .void {
        display: none;
    }

    .selection {
        width: 100%;
        display: block;
    }

    .selection:first-of-type {
        margin-bottom: 1rem;
    }

    .selection:last-of-type {
        margin-left: 0;
    }

    /* IDs */
    #buttons {
        width: 90%;
    }

    #container {
        width: 80%;
    }
}
